h1{
    font-size: 36px;
    color: sky rgb(0, 140, 255);
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;

}
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    }
    
.navbar ul{
    list-style-type: none;
    background-color: hsl(197, 100%, 21%);
    padding: 20px;
    margin: 0px;
    overflow: hidden;
    text-align: right;
}

.navbar  a{
    color: rgb(241, 224, 224);
    text-decoration: none;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    position: sticky;
    justify-content: center;
}
.navbar a:hover{
  background-color: hsl(199, 100%, 24%);  
}
.navbar li{
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.my_cover{
width: 100%;
height: 400px;
}

.container{
width: 10%;
height: 50px;
position: relative;
}

p{
    text-align: center;
    color: rgb(3, 3, 3);
    text-decoration: none;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Arial, sans-serif; 

}

<nav>
    <div class="nav-left">
        <a href="{% url 'home'%}">
            <img src="{%static'images/loggo.jpg'%}" alt="logo">

</nav>







