{% extends "base.html" %}
{% load static %}
{% block title %}TFB | MEDIA{% endblock %}
{% block content %}

<h3>The Father’s Blessing Group is a God-ordained family<br> committed to walking in the fullness of His grace.<br> Rooted in prayer, fellowship, and the Word,<br> we believe in releasing blessings that transform lives, <br>restore hope, and establish destinies.<br> Like Abraham, who was blessed to be a blessing <br>(Genesis 12:2), we embrace our calling to nurture, empower,<br> and uplift one another.<br> Here, faith is strengthened, love is shared, <br>and God’s purpose for each life is awakened<br> — reminding us that under the covering of the Father,<br> we are chosen, equipped, and unstoppable.</h3>
{% endblock  %}