{% extends "base.html" %}
{% load static %}
{% block title %}The Father's Blessings | About{% endblock  %}
{% block content %}
    <!-- Carousel Start -->
    <div class="header-carousel owl-carousel">
        <div class="header-carousel-item">
            <img src="{% static 'img/hero/hero3.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row gy-0 gx-5">
                        <div class="col-lg-0 col-xl-5"></div>
                        <div class="col-xl-7 animated fadeInLeft">
                            <div class="text-sm-center text-md-end">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">The Father’s Blessing</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">Nurturing men, guiding sons, shaping generations.</h1>
                                <p class="mb-5 fs-5"> A ministry devoted to equipping men and mentoring young boys with spiritual, emotional, financial, and career discipleship raising Godly generations and impacting communities
                                </p>
                                <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Watch Video</a>
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Register</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                    <h2 class="text-white me-2">Follow Us:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-carousel-item">
            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-12 animated fadeInUp">
                            <div class="text-center">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">The Father’s Blessing</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">From men of faith to fathers of nations.</h1>
                                <p class="mb-5 fs-5">The Father’s Blessing is not just for today  it’s a movement to secure tomorrow by raising men who will inspire generations with faith, wisdom, and excellence.
                                </p>
                                <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Watch Video</a>
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Get Involved</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <h2 class="text-white me-2">Follow Us:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->



    <!-- Events Start -->
    <br><br><br>
    <div class="container-fluid service pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Upcoming Volunteer Events</h4>
                <h1 class="display-5 mb-4">Together, We Can Create Lasting Impact!</h1>
                <p class="mb-0">Join us in making a difference in our community!
                        Check out the exciting volunteer opportunities and events coming up soon. 
                        Your participation is essential in spreading love and support through service.
                </p>
            </div>
            {% if events_by_month %}
                {% for month, events in events_by_month.items %}
                    <h2 class="mb-4">{{ month }}</h2>
                    <div class="row g-4">
                        {% for event in events %}
                            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="service-item">
                                    <div class="service-img">
                                        <img src="{{ event.image.url }}" class="img-fluid rounded-top w-100" alt="Image">
                                    </div>
                                    <div class="rounded-bottom p-4">
                                        <a href="#" class="h4 d-inline-block mb-4">{{ event.title }}</a>
                                        <p class="event-datetime">📅 {{ event.event_date|date:"d M Y" }} | 🕒 {{ event.event_date|time:"h:i A" }}</p>
                                        <p class="event-location">📍 {{ event.location }}</p>
                                        <p class="mb-4">{{ event.description|truncatewords:20 }}</p>
                                        {% if user.is_authenticated %}
                                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'event_register' event.id %}">Register</a>
                                        {% else %}
                                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'login' %}"> Register</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12 text-center">
                    <p class="h5 py-5">No upcoming events at the moment. Please check back later!</p>
                </div>
            {% endif %}



            
            <div class="text-center mt-4">
                <a class="btn btn-secondary rounded-pill py-2 px-4 hozambe" href="#">View Events</a>
            </div>
        </div>
    </div>
    <!-- Events  End -->

{% endblock %}    