{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class hero="hero">
        <div class="content">
            <image class="my_cover" src="{% static '/images/pexels.jpg' %}">
        </div>
        <div>
            <h1>The Fathers Blessing</h1>
        </div>
    </div>
             
             <p>
                <image class="my_bright" src="{% static '/images/prince 1.jpg' %}">
                We are delighted to welcome you to THE FATHER'S BLESSING-
                a platform dedicated to empowering lives, restoring destinies<br>
                and releasing devine favour through the spoken blessings
                of our heavenly Father.
                Here, you will encounter love, truth and transformation
                as we walk together in the light of God's word.<br>
                Whether you are joining us to grow spiritually,
                connect with a faith-driven community or receive impartation
                through teaching and prayer.
                Know this: you are not here by accident, you are chosen
                loved and blessed.
                may your journey with us be filled with hope,
                wisdom and the overwhelming presence of God's blessing.
                welcome home.
                #TheFathersBlessing#YouaAreBlesssed
            </p>
        </div>
    </div>
{% endblock  %}