{% extends "base.html" %}
{% load static %}
{% block title %}The Father's Blessings | Home{% endblock  %}
{% block content %}
    <!-- Carousel Start -->
    <div class="header-carousel owl-carousel">
        <div class="header-carousel-item">
            <img src="{% static 'img/hero/hero3.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row gy-0 gx-5">
                        <div class="col-lg-0 col-xl-5"></div>
                        <div class="col-xl-7 animated fadeInLeft">
                            <div class="text-sm-center text-md-end">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">The Father’s Blessing</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">Nurturing men, guiding sons, shaping generations.</h1>
                                <p class="mb-5 fs-5"> A ministry devoted to equipping men and mentoring young boys with spiritual, emotional, financial, and career discipleship raising Godly generations and impacting communities
                                </p>
                                <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Watch Video</a>
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Register</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                    <h2 class="text-white me-2">Follow Us:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-carousel-item">
            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-12 animated fadeInUp">
                            <div class="text-center">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">The Father’s Blessing</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">From men of faith to fathers of nations.</h1>
                                <p class="mb-5 fs-5">The Father’s Blessing is not just for today  it’s a movement to secure tomorrow by raising men who will inspire generations with faith, wisdom, and excellence.
                                </p>
                                <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> Watch Video</a>
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#">Get Involved</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <h2 class="text-white me-2">Follow Us:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    
    <!-- About Start -->
    <div class="container-fluid about bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-img pb-5 ps-5">
                        <img src="{% static 'img/about1.jpg' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">

                        <div class="about-experience">15+ years of mentorship</div>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                    <div class="section-title text-start mb-5">
                        <h4 class="text-primary">Pst Prince Obas-ike</h4>
                        <h1 class="display-5 mb-4">A Message from Our Spiritual Father</h1>
                        <p class="mb-4">The Father’s Blessing is not just another arm of ministry; it is a divine assignment to raise men who are whole, purposeful, and rooted in Christ. I believe every man carries within him the seed of leadership, the strength to nurture, and the calling to impact generations. But that seed must be watered, guided, and mentored to bear fruit.<br><br>

                        This ministry was birthed from the burden to see men restored — spiritually, emotionally, and practically. A man who walks with God will lead his family with wisdom, build his community with integrity, and thrive in his calling with excellence. My prayer is that through this ministry, men and young boys will find a place of mentorship, brotherhood, and discipleship that equips them to live out their full potential in Christ.<br><br>

                        Together, we are building men and raising godly generations that will transform families, churches, and nations for the glory of God<br><br></p>
                        <div class="mb-4">
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> <b>Spiritual Mentorship</b> : discipling men to grow in faith, prayer, and the Word.</p>
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> <b>Family & Fatherhood </b> : equipping men to lead their homes with love, wisdom, and integrity.</p>
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> <b>Career & Life Development </b>: empowering men with guidance, skills, and support for their professional and personal journey.</p>
                        </div>
                        <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Get To Know Us Better</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- What we do Start -->
    <br><br><br>
    <div class="container-fluid feature pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">What We Do</h4>
                <h1 class="display-5 mb-4">Equipping men to follow God, lead families, and fulfill their calling.</h1>
                <p class="mb-0">The Father’s Blessing exists to raise whole men grounded in Christ, equipped for life, and empowered to lead. Through our ministry arms, we nurture spiritual depth, personal growth, and practical impact in every sphere of a man’s journey.e
                </p>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-item p-4">
                        <div class="feature-icon p-4 mb-4">
                            <i class="fas fa-bible fa-4x text-primary"></i>
                        </div>
                        <h4>Spiritual Mentorship</h4>
                        <p class="mb-4">Discipling men in the Word, prayer, and godly character  raising leaders rooted in Christ.
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="feature-item p-4">
                        <div class="feature-icon p-4 mb-4">
                            <i class="fas fa-user-graduate fa-4x text-primary"></i>
                        </div>
                        <h4>Youth Mentorship</h4>
                        <p class="mb-4">Guiding boys and young men into maturity through godly counsel, life skills, and strong role models.
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="feature-item p-4">
                        <div class="feature-icon p-4 mb-4">
                            <i class="fas fa-home fa-4x text-primary"></i>
                        </div>
                        <h4>Family & Fatherhood</h4>
                        <p class="mb-4">Equipping men to lead their homes with love, wisdom, and integrity becoming present fathers and godly husbands.
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="feature-item p-4">
                        <div class="feature-icon p-4 mb-4">
                            <i class="fas fa-briefcase fa-4x text-primary"></i>
                        </div>
                        <h4>Career & Leadership Development</h4>
                        <p class="mb-4">Mentoring men to thrive in their professions, lead with excellence, and impact their workplaces for Christ.
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-secondary rounded-pill py-2 px-4 hozambe" href="#">View All Departments</a>
            </div>
        </div>
    </div>
    <!-- What we do end --> 

    
    <!-- Events Start -->
    <div class="container-fluid service pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Upcoming Volunteer Events</h4>
                <h1 class="display-5 mb-4">Together, We Can Create Lasting Impact!</h1>
                <p class="mb-0">Join us in making a difference in our community!
                        Check out the exciting volunteer opportunities and events coming up soon. 
                        Your participation is essential in spreading love and support through service.
                </p>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Regional Conference</a>
                            <p class="event-datetime">📅 15 Oct 2025 | 🕒 10:00 AM</p>
                            
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'events_details' %}">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Family Fun Day</a>
                            <p class="event-datetime">📅 15 Oct 2025 | 🕒 10:00 AM</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">Youth Week</a>
                            <p class="event-datetime">📅 15 Oct 2025 | 🕒 10:00 AM</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">QEG Summit</a>
                            <p class="event-datetime">📅 15 Oct 2025 | 🕒 10:00 AM</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">South Sudan Mission</a>
                            <p class="event-datetime">📅 15 Oct 2025 | 🕒 10:00 AM</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{% static 'img/hero/hero1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">TFB week</a>
                            <p class="event-datetime">📅 15 Oct 2025 | 🕒 10:00 AM</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Register</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center mt-4">
                <a class="btn btn-secondary rounded-pill py-2 px-4 hozambe" href="#">View Events</a>
            </div>
        </div>
    </div>
    <!-- Events  End -->

    <!-- Team Start -->
    <div class="container-fluid team pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Our Team</h4>
                <h1 class="display-5 mb-4">Walking With Men, Raising Godly Generations</h1>
                <p class="mb-0">At the heart of The Father’s Blessing is a dedicated team of leaders and mentors who embody the vision of equipping men to walk with God, lead their families, and thrive in every area of life. Each member brings unique gifts, wisdom, and passion — united in the mission of shaping godly men and raising generations that honor Christ.
                    
                </p>
            </div>
            
            <div class="row g-4">
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{% static 'img/team/tm2.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Pastor Prince Obas-ike</h4>
                            <p class="mb-0">Eastern Africa, Region 2 Overseer</p>
                        </div>
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <!-- Read More Button -->
                        <div class="read-more">
                            <a href="link-to-full-bio.html" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{% static 'img/team/tm1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Paul Onyango</h4>
                            <p class="mb-0">TFB Chairman</p>
                        </div>
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <!-- Read More Button -->
                        <div class="read-more">
                            <a href="link-to-full-bio.html" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{% static 'img/team/tm3.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Tonney Otieno</h4>
                            <p class="mb-0">Finance</p>
                        </div>
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <!-- Read More Button -->
                        <div class="read-more">
                            <a href="link-to-full-bio.html" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{% static 'img/team/tm4.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-title">
                            <h4 class="mb-0">Jeremiah</h4>
                            <p class="mb-0">Youth Leader</p>
                        </div>
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <!-- Read More Button -->
                        <div class="read-more">
                            <a href="link-to-full-bio.html" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Read More Button -->
                <div class="read-more">
                    <a href="link-to-full-bio.html" class="btn btn-secondary">Learn About Our Leaders</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->



   
{% endblock  %}