{% extends "base.html" %}
{% load static %}
{% block title %}TFB | MEDIA{% endblock %}
{% block content %}

<div class="cons">
  <img src="{% static 'images/TFB4.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/TFB1.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/TFB2.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/TFB3.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/TFB5.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/3.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/4.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/5.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/6.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/7.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/8.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/9.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/TFB6.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/TFB7.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/prince 1.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/1.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men/2.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/prince 2.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/prince 4.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/prince 5.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/prince.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men1.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/men2.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/Dd.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/Daddy.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/D.jpg' %}" alt="Example Photo" class="photo">
  <img src="{% static 'images/prince 3.jpg' %}" alt="Example Photo" class="photo">
  

  

{% endblock  %}